@page "/food/list"
@inject IFoodService foodService
@inject ILogger<List> logger
@inject IPaginationService<Food> paginationService

<div class="row">
    <Nav></Nav>
    <div>
        <FoodHeader></FoodHeader>
        <h2>Food</h2>
        <div>
            <input class="form-input" type="text" placeholder="search food" @bind="selectedFood" @oninput="OnTextChanged" />
        </div>
        <div class="history-box">
            @if (food is null)
            {
                <Loader></Loader>
            }
            else
            {
                <table class="fl-table">
                    <thead class="special-head">
                        <tr>
                            <th>Name</th>
                            <th>Creation</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (food.Count() == 0)
                        {
                            <tr>
                                <td colspan="4">No data</td>
                            </tr>
                        }
                        else
                        {
                            foreach (var food in pages[currentPage])
                            {
                                <tr>
                                    <td>@food.Name</td>
                                    <td>@food.CreatedAt.ToString("yyyy-MM-dd")</td>
                                    <td>
                                        <NavLink href="@($"/food/list/{food.Id}")">
                                            <i class="fa fa-info-circle"></i> Detail
                                        </NavLink>
                                    </td>
                                    <td>
                                        <button class="form-button-destroy" @onclick="@(async () => await OnDeleteAsync(food.Id))"><i class="fas fa-trash-alt"></i> Delete</button>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            }
        </div>
        <div class="small-margin-top">
            <button class="extra-small-width form-button dark-background white-text" @onclick="PreviousPage">&#60;</button>
            <label>@currentPage</label>
            <button class="extra-small-width form-button dark-background white-text" @onclick="NextPage">&#62;</button>
        </div>
    </div>
</div>

@code {
    private IEnumerable<Food> food = new List<Food>();

    private IEnumerable<Food> backupFood = new List<Food>();

    private Dictionary<int, IEnumerable<Food>> pages = new Dictionary<int, IEnumerable<Food>>();

    private int currentPage = 1;

    private int maxElementsByPage = 10;

    private string selectedFood = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var queryResult = await foodService.GetAllAsync();

            food = queryResult;
            backupFood = queryResult;
            pages = paginationService.GetPages(maxElementsByPage, food);
        }
        catch (Exception ex)
        {
            logger.LogError(ex, "Error loading food");
        }

        await base.OnInitializedAsync();
    }

    private async Task OnDeleteAsync(string id)
    {
        await foodService.DeleteAsync(id);
        food = food.Where(e => e.Id != id);
        backupFood = backupFood.Where(e => e.Id != id);
        pages = paginationService.GetPages(maxElementsByPage, food);
        StateHasChanged();
    }

    private void OnTextChanged(ChangeEventArgs e)
    {
        var resp = backupFood.Where(f => f.Name.ToLower().Contains(e.Value.ToString()));
        pages = paginationService.GetPages(maxElementsByPage, resp);
        StateHasChanged();
    }

    private void NextPage()
    {
        currentPage = paginationService.NextPage();
        StateHasChanged();
    }

    private void PreviousPage()
    {
        currentPage = paginationService.PreviousPage();
        StateHasChanged();
    }
}
