@page "/exercises"
@inject IExerciseService exerciseService
@inject IPaginationService<Exercise> paginationService

<div class="row">
    <Nav></Nav>
    <div>
        <Header></Header>
        <h2>Exercises</h2>
        <div class="history-box">
            @if (Exercises is null)
            {
                <Loader></Loader>
            }
            else
            {
                <table class="fl-table">
                    <thead class="special-head">
                        <tr>
                            <th>Name</th>
                            <th>Creation</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Exercises.Count() == 0)
                        {
                            <tr>
                                <td colspan="4">No data</td>
                            </tr>
                        }
                        else
                        {
                            foreach (var exercise in Pages[CurrentPage])
                            {
                                <tr>
                                    <td>@exercise.Name</td>
                                    <td>@exercise.CreatedAt.ToString("yyyy-MM-dd")</td>
                                    <td>
                                        <NavLink href="@($"/exercises/{exercise.Id}")">
                                            <i class="fa fa-info-circle"></i> Detail
                                        </NavLink>
                                    </td>
                                    <td>
                                        <button class="form-button-destroy" @onclick="@(async () => await OnDeleteAsync(exercise.Id))"><i class="fas fa-trash-alt"></i> Delete</button>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            }
        </div>
        <div class="small-margin-top">
            <button class="extra-small-width form-button dark-background white-text" @onclick="PreviousPage">&#60;</button>
            <label>@CurrentPage</label>
            <button class="extra-small-width form-button dark-background white-text" @onclick="NextPage">&#62;</button>
        </div>
    </div>
</div>

@code {
    private IEnumerable<Exercise> Exercises = new List<Exercise>();

    private Dictionary<int, IEnumerable<Exercise>> Pages = new Dictionary<int, IEnumerable<Exercise>>();

    private int CurrentPage = 1;

    private int MaxElementsByPage = 10;

    protected override async Task OnInitializedAsync()
    {
        Exercises = await exerciseService.GetAllAsync();
        Pages = paginationService.GetPages(MaxElementsByPage, Exercises);
        await base.OnInitializedAsync();
    }

    private async Task OnDeleteAsync(string id)
    {
        await exerciseService.DeleteAsync(id);
        Exercises = Exercises.Where(e => e.Id != id);
        Pages = paginationService.GetPages(MaxElementsByPage, Exercises);
        StateHasChanged();
    }

    private void NextPage()
    {
        CurrentPage = paginationService.NextPage();
        StateHasChanged();
    }

    private void PreviousPage()
    {
        CurrentPage = paginationService.PreviousPage();
        StateHasChanged();
    }
}
